footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    width: 100%;

    min-height: 10vh;
    max-height: 20vh;

    background-color: $footer-background;

    justify-content: center;

    .links {
        margin: 15px;
        display: flex;
        flex-direction: column;
        a {
            width: 10%;
            margin: 5px;
            font-size: 18px;
            color: white;
            display: flex;

            p {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }

    .copyright {
        margin-left: 15px;
    }
}
