@import "./variables";
@import "./utils";
@import "./nav";
@import "./header";
@import "./main";
@import "./footer";

body {
    font-family: "Roboto", sans-serif;
    color: $main-text-color;
    background-color: #2a2a2a;
}
