<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Corebot Addons', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..' }) %>

        <header>
            <h1>Corebot Addons</h1>
            <p>
                These are some of the amazing addons our team has made for
                Corebot users
            </p>
        </header>

        <main>
            <div class="projects"></div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
