<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Discord Bots', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..'
        }) %>

        <header>
            <h1>Discord Bots</h1>
            <p>
                Here are some of the incredible discord bots our team has made
            </p>
        </header>

        <main>
            <div class="projects">

            </div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
