<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Graphics', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..' }) %>

        <header>
            <h1>Graphics</h1>
            <p>
                These are some amazing banners, thumbnails, avatars, and
                wallpapers made by our freelancers.
            </p>
        </header>

        <main>
            <div class="projects">
                <img
                    src="../img/our-work/graphics/Banner-1.png"
                    alt="Banner-1"
                />
                <img
                    src="../img/our-work/graphics/Banner-2.png"
                    alt="Banner-2"
                />
                <img
                    src="../img/our-work/graphics/Banner-3.png"
                    alt="Banner-3"
                />
                <img
                    src="../img/our-work/graphics/Banner-4.png"
                    alt="Banner-4"
                />
                <img
                    src="../img/our-work/graphics/Thumbnail-1.png"
                    alt="Thumbnail-1"
                />
                <img
                    src="../img/our-work/graphics/Thumbnail-2.png"
                    alt="Thumbnail-2"
                />
                <img
                    src="../img/our-work/graphics/Thumbnail-3.png"
                    alt="Thumbnail-3"
                />
                <img
                    src="../img/our-work/graphics/Wallpaper-1.png"
                    alt="Wallpaper-1"
                />
                <img
                    src="../img/our-work/graphics/Wallpaper-2.png"
                    alt="Wallpaper-2"
                />
            </div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
