<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Minecraft Builds', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..' }) %>

        <header>
            <h1>Minecraft Builds</h1>
            <p>
                Our freelancers can provide you with your dream build just like
                these!
            </p>
        </header>

        <main>
            <div class="projects"></div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
