<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Minecraft Builds', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..' }) %>

        <header>
            <h1>Minecraft Builds</h1>
            <p>
                Our freelancers can provide you with your dream build just like
                these!
            </p>
        </header>

        <main>
            <div class="projects">
                <img
                    src="../img/our-work/minecraft_builds/Build-1.png"
                    alt="Build-1"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-2.png"
                    alt="Build-2"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-3.png"
                    alt="Build-3"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-4.png"
                    alt="Build-4"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-5.png"
                    alt="Build-5"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-6.png"
                    alt="Build-6"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-7.png"
                    alt="Build-7"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-8.png"
                    alt="Build-8"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-9.png"
                    alt="Build-9"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-10.png"
                    alt="Build-10"
                />
                <img
                    src="../img/our-work/minecraft_builds/Build-11.png"
                    alt="Build-11"
                />
            </div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
