<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { page: 'Spigot Plugins', level: '..' }) %>
    <body>
        <%- include('includes/navigation', { page: 'our-work', level: '..' }) %>

        <header>
            <h1>Spigot Plugins</h1>
            <p>
                Our developers can create almost anything that you can envision
                for your server. Here are some examples of that.
            </p>
        </header>

        <main>
            <div class="projects"></div>
        </main>

        <%- include('includes/footer', { level: '..' }) %>
        <script src="../js/main.js"></script>
    </body>
</html>
