// NAV
@media screen and (max-width: 768px) {
    nav {
        .links {
            .burger {
                display: block;
            }

            a,
            button {
                display: none;
            }
        }
    }
}

// CARDS
@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr) !important;
        & > .card {
            margin-bottom: 15px;
        }
    }

    .cards:first-of-type {
        transform: translateY(-10%) !important;
    }
}

@media screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .cards:first-of-type {
        transform: translateY(-5%) !important;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: 1fr !important;
    }

    .cards:first-of-type {
        transform: translateY(-2%) !important;
    }
}
