$theme-color: #167abf;
$main-text-color: #b4b4b4;
$darker-text: #979797;
$background-color: #2a2a2a;

/* NAV */
$nav-background-color: #252525;
$company-name-color: white;
$logo-size: 64px;
$nav-height: 6vh;
$mobile-links-height: 94vh;
$links-margin-right: 15px;
$links-gap: 15px;
$link-hover-color: #888888;
$current-page-link-color: #d3d3d3;
$dropdown-background-color: #222222;
$dropdown-hover-background-color: #1a1a1a;

/* HEADER */
$header-background: #1d1d1d;
$discord-button-text: white;
$discord-button-background: #7289da;
$header-main-text-color: white;
$header-main-text-font-size: 45px;
$header-sub-text-color: #b4b4b4;
$header-sub-text-font-size: 25px;

/* MAIN */

// Cards
$card-height: 30vh;
$card-background: #414141;
$card-title-color: white;
$card-line-color: #707070;
$view-button-background: #0e81ce;
$card-a-tag-color: #e2e2e2;

// TOS
$tos-border-color: rgb(27, 27, 27);
$tos-background-color: rgb(58, 58, 58);
/* FOOTER */
$footer-background: #1d1d1d;
