@import "./variables";
@import "./utils";
@import "./nav";
@import "./header";
@import "./main";
@import "./footer";
@import "./scrollbar";

body {
    font-family: "Roboto", sans-serif;
    color: $main-text-color;
    background-color: $background-color;

    display: flex;
    flex-direction: column;

    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

    overflow-x: hidden;
}

@import "./responsive";
