<footer>
    <div class="links">
        <a href="<%= level %>/redirect/discord">
            <i class="material-icons">call</i>
            <p>Discord</p>
        </a>
        <a href="<%= level %>/redirect/mcm">
            <i class="material-icons">image</i>
            <p>MC-Market</p>
        </a>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2020 Revive Services. All Rights Reserved.
    </p>
</footer>